.equipo{
    height: 600px;
    width: 100%;
    background-color: rgb(9, 3, 3);
}
#tituloeq{
    text-align: center
}
.tituloeq{
    text-align: center;
    padding: 10px;
}
.imgeq{
    height: 300px;
    width: auto;
    background-size: cover;
    background-position: center;
}
.imgeq1{
    background-image: url(Img/Equipokite.jpg);
}
.imgeq2{
    background-image: url(Img/Equipobarra.jpg);
}
.imgeq3{
    background-image: url(Img/Equipoarnes.jpg);
}
.imgeq4{
    background-image: url(Img/Equipotablas.png);
}
.imgeq5{
    background-image: url(Img/Equiponeoprene.jpg);
}
.imgeq6{
    background-image: url(Img/Equipootros.jpg);
}